.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.container p {
    font-size: 1.5rem;
    color: var(--blue-dark);
    font-weight: 600;
}