.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}
.container section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 2.5rem 1rem;
  }
  .container section {
    margin: 3rem auto;
    grid-template-columns: 1fr;
  }
}